body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:978px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:940px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:940px;
}
#u2 {
  position:absolute;
  left:2px;
  top:462px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:-2px;
  top:0px;
  width:982px;
  height:137px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:137px;
}
#u4 {
  position:absolute;
  left:2px;
  top:60px;
  width:978px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:870px;
  top:220px;
  width:30px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:85px;
  top:280px;
  width:815px;
  height:95px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:121px;
  top:0px;
  width:454px;
  height:36px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:36px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:450px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:575px;
  top:0px;
  width:102px;
  height:36px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:98px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:677px;
  top:0px;
  width:133px;
  height:36px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:36px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:36px;
  width:121px;
  height:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:121px;
  top:36px;
  width:454px;
  height:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:28px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:450px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:575px;
  top:36px;
  width:102px;
  height:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:28px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:677px;
  top:36px;
  width:133px;
  height:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:28px;
}
#u23 {
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:64px;
  width:121px;
  height:26px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u25 {
  position:absolute;
  left:2px;
  top:5px;
  width:117px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:121px;
  top:64px;
  width:454px;
  height:26px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:26px;
}
#u27 {
  position:absolute;
  left:2px;
  top:5px;
  width:450px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:575px;
  top:64px;
  width:102px;
  height:26px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:26px;
}
#u29 {
  position:absolute;
  left:2px;
  top:5px;
  width:98px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:677px;
  top:64px;
  width:133px;
  height:26px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u31 {
  position:absolute;
  left:2px;
  top:5px;
  width:129px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:317px;
  top:174px;
  width:411px;
  height:33px;
  font-size:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:33px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  white-space:nowrap;
}
