body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:978px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:940px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:940px;
}
#u2 {
  position:absolute;
  left:2px;
  top:462px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:-2px;
  top:0px;
  width:982px;
  height:137px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:137px;
}
#u4 {
  position:absolute;
  left:2px;
  top:60px;
  width:978px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:225px;
  top:181px;
  width:483px;
  height:33px;
  font-size:28px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:33px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:42px;
  top:285px;
  width:880px;
  height:111px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u9 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:100px;
  top:0px;
  width:568px;
  height:52px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:52px;
}
#u11 {
  position:absolute;
  left:2px;
  top:18px;
  width:564px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:668px;
  top:0px;
  width:56px;
  height:52px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:52px;
}
#u13 {
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:724px;
  top:0px;
  width:151px;
  height:52px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:52px;
}
#u15 {
  position:absolute;
  left:2px;
  top:18px;
  width:147px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:52px;
  width:100px;
  height:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:100px;
  top:52px;
  width:568px;
  height:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:28px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:564px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:668px;
  top:52px;
  width:56px;
  height:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:28px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:52px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:724px;
  top:52px;
  width:151px;
  height:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:28px;
}
#u23 {
  position:absolute;
  left:2px;
  top:6px;
  width:147px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:26px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
}
#u25 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:100px;
  top:80px;
  width:568px;
  height:26px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:26px;
}
#u27 {
  position:absolute;
  left:2px;
  top:5px;
  width:564px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:668px;
  top:80px;
  width:56px;
  height:26px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u29 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:724px;
  top:80px;
  width:151px;
  height:26px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:26px;
}
#u31 {
  position:absolute;
  left:2px;
  top:5px;
  width:147px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:810px;
  top:500px;
}
#u32_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u32_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:28px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:38px;
}
#u34 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:870px;
  top:220px;
  width:30px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
